<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login"> Ir a Login </a>
    </li>
    <li>
        <a routerLink="/auth/registro"> Ir a Registro </a>
    </li>
    <li>
        <a routerLink="/heroes"> Ir a Listado de Heroes DC </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar"> Ir a Agregar Heroe DC </a>
    </li>
    <li>
        <a routerLink="/heroes/editar/5"> Ir a Editar Heroe DC id=5 </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar"> Ir a Buscar Heroes DC </a>
    </li>
    <li>
        <a routerLink="/heroes/5"> Ir a Heroe DC id=5 </a>
    </li>
</ul>