<div fxLayout="column" >
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="column" >
        <h3>Buscador</h3>

        <mat-form-field class="example-full-width">
            <mat-label>Nombre del heroe</mat-label>
            <input type="text"
                placeholder="Seleccione uno"
                aria-label="Number"
                matInput
                [(ngModel)]="terminoBusqueda"
                [matAutocomplete]="auto"
                (input)="buscando()" >
            <mat-autocomplete autoActiveFirstOption 
                                #auto="matAutocomplete"
                                (optionSelected)="opcionSeleccionada( $event )" >
            <!-- <mat-option *ngFor="let heroe of heroes | async" [value]="heroe.id"> -->
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{ heroe.superhero }}
                </mat-option>

                <mat-option value="" *ngIf="heroes.length === 0 && terminoBusqueda.length>0 " >
                    No hubo coincidencias con el término {{terminoBusqueda}}
                </mat-option>

            </mat-autocomplete>

            <!--  -->
            <!-- Esto de arriba debe aparecer como opción en el autocomplete, y si le hacen click, mandamos un string vacío -->

        </mat-form-field>
    </div>

    <div>
        <pre> {{ heroeSeleccionado | json }} </pre>
    </div>

</div>